@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 500;
  src: url("../assets/fonts/Noto_Sans_TC/NotoSansTC-Medium.otf");
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 700;
  src: url("../assets/fonts/Noto_Sans_TC/NotoSansTC-Bold.otf");
}


@layer components {
  .containers {
    @apply p-3 lg:px-6
  }
  .body16 {
    @apply text-[16px] font-[500] leading-[1.75em]
  }
  .subTitle20 {
    @apply text-[20px] font-[500] leading-[1.5em]
  }
  .title24 {
    @apply text-[24px] font-[700] leading-[1.5em]
  }
  .title28 {
    @apply text-[28px] font-[700] leading-[1.5em]
  }
  .display48 {
    @apply text-[48px] font-[700] leading-[1.5em]
  }
}

#app {
  max-width: 1536px;
  margin: 0 auto;
  font-weight: normal;
  font-family: "Noto Sans TC","Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
